In [1]:
from mysql.connector import connect

In [2]:
from urllib.parse import urlparse
url = urlparse("mysql://root:UdyVWpTquApOdxpDsdjmzuxkivXoVVox@autorack.proxy.rlwy.net:19473/railway")

In [3]:
url.hostname

'autorack.proxy.rlwy.net'

In [12]:
connection = connect(
        host=url.hostname,
        port=url.port,  # Use the determined port
        user=url.username,
        password=url.password,
        database=url.path[1:],  # Remove the leading '/' from the database name
    )

In [13]:
cur = connection.cursor()

In [14]:
cur

In [15]:
cur.execute("""
    CREATE TABLE users (
        id INT PRIMARY KEY AUTO_INCREMENT,
        username VARCHAR(50) NOT NULL,
        password VARCHAR(50) NOT NULL
    );
    
""")

ProgrammingError: 1050 (42S01): Table 'users' already exists

In [16]:
cur.execute(
    """ 
    INSERT INTO users(username, password)
    VALUES
    ("ashu", "1234")
"""
)

In [17]:
connection.commit()

In [18]:
connection.close()

In [19]:
get_db_connection=lambda : connect(
    host=url.hostname,
    port=url.port,  # Use the determined port
    user=url.username,
    password=url.password,
    database=url.path[1:],
)

In [20]:
conn = get_db_connection()

In [21]:
conn.is_connected()

True

In [22]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("INSERT INTO users (username, password) VALUES ('anastasia', 'diso');")
        conn.commit()

In [24]:
get_db_connection=lambda : connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:],
    autocommit=True
)

In [25]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("INSERT INTO users (username, password) VALUES ('bob', 'ddfdo');")

In [28]:
conn.is_connected()

False

In [29]:
query = "INSERT INTO users (username, password) VALUES (%s, %s);"
users = [
    ("bob", "dolphin12"),
    ("rolf", "sdf2"),
    ("anne", "povney")
]

In [30]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.executemany(query, users)